<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Budget planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>New Expanse</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
              <ion-label position="floating">Expanse Reason</ion-label>
              <ion-input type="text" #reason></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Expanse Amount</ion-label>
              <ion-input type="number" #amount></ion-input>
            </ion-item>
            <div class="margin-vertical text-right">
              <ion-button fill="outline" color="danger" (click)="onClear()">
              <ion-icon name="close" slot="start"></ion-icon>
              Clear
            </ion-button>
            <ion-button (click)="onClick(reason.value, amount.value)">
              <ion-icon name="add" slot="start"></ion-icon>
              Add
            </ion-button>
            </div>
            
          </ion-card-content>
        
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      
          <ion-text *ngIf="items.length === 0">No items</ion-text>
    
        <ion-list *ngIf="items.length>0">
          <ion-item *ngFor="let item of items">
            <ion-text>{{item.reason}}: {{item.amount}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  

</ion-content>
